body{
    background-image: url(/images/5137894.jpg);
    background-size: cover;
    text-align: center;
    align-items: center;
}
.body{
    justify-content: center;
    align-items: center;
}
.logo{
    width: 250px;
}
ul li{
    border: 3px solid #000000;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: left;
    list-style: none;
}